body {
	font-family: "Segoe UI Light", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#app-container {
	margin-top: 20px;
}

#listselector {
	list-style: none outside none;
	position: relative;
	margin-top: 70px;
	margin-left: -15px;
}
#listselector li {
	float: left;
	border-left: 3px solid #1E89C3;
	line-height: 33px;
	height: 40px;
	padding-left: 10px;
	padding-right: 15px;
	position: relative;
	font-weight: 100;
	font-size: 28px;
	cursor: pointer;
}
#listselector li:hover, #listselector li.active{
	color: #1E89C3;
}

